<div class="sidenav">
    <!-- <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>  -->
    <a routerLink="/addPayment" routerLinkActive="active">Add Payment</a><br>
    <a routerLink="/viewPayment" routerLinkActive="active">View Payment</a><br>
    <a routerLink="/addTrainingSchedule" routerLinkActive="active">Add Training Schedule</a><br>
    <a routerLink="/viewTrainingSchedule" routerLinkActive="active">View training Schedule</a><br>
    <a routerLink="/hrPaymentView" routerLinkActive="active">HR Payment View</a><br>
    <a routerLink="/accountantPaymentView" routerLinkActive="active">Accountant Payment View</a><br>
  </div>
